.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.result_info{
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}